image: rancher/hardened-containerd:{{build.tag}}
manifests:
  - image: rancher/hardened-containerd:{{build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  - image: rancher/hardened-containerd:{{build.tag}}-linux-s390x
    platform:
      architecture: s390x
      os: linux
  - image: rancher/hardened-containerd:{{build.tag}}-windows-amd64
    platform:
      architecture: amd64
      os: windows
